body{
    background-color: #ffeee6;
}
.table-image{
    height: 400px;
    width: 600px;
    margin-top: 40px;
    margin-left: 60px;
    margin-right: 60px;
    border: 1px solid #000;
}
.image-container{
    display: flex;
    
}
.product-detail-container{
    margin-top: 0px;
    margin-right:100px ;
}
.description{
    font-size: 25px;
    color: #993000;
}
.price{
    font-size: 30px;
    color: #993000;
}
.btn{
    font-size: 20px;
    background-color:#993000 ;
    color: #fff;
    display: block;
    margin: 10px auto;
    width: 300px;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0px 0px 3px 4px #ffa880;
}